<!doctype html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><%= appName %></title>

	<!-- build:[href]:dist http://cdn.kendostatic.com/2013.2.716/styles/ -->
	<link rel="stylesheet" href="bower_components/kendo-ui/styles/kendo.common.min.css"/>
	<link rel="stylesheet" href="bower_components/kendo-ui/styles/kendo.default.min.css"/>
	<!-- /build -->

	<!-- build:include bower_components/portal-core/dist/build/processhtml/dist-bootstrapcss.html  -->
	<link rel="stylesheet" href="bower_components/bootstrap/docs/assets/css/bootstrap.css"/>
	<link rel="stylesheet" href="bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css"/>
	<!-- /build -->

	<!--[if gte IE 9]>
	<link rel="stylesheet" href="bower_components/portal-core/dist/styles/ie9.css"/>
	<![endif]-->
	<link rel="stylesheet"
		  href="bower_components/portal-core/dist/styles/portal-core.css"/>

	<!-- build:css(.tmp) styles/<%= packageName %>.css -->
	<link rel="stylesheet" href="styles/<%= packageName %>.css">
	<!-- endbuild -->
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a
		href="http://browsehappy.com/">upgrade
	your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate
	Google Chrome Frame</a> to
	improve your experience.</p>
<![endif]-->
<header class="cmcWP">
	<nav role="application navigation">
		<ul>
			<li><a href="#">Settings</a></li>
			<li><a href="#">Profile</a></li>
			<li><a href="#">Sign Out</a></li>
		</ul>
	</nav>
	<div class="greeting">Hello Dave</div>
	<h1 class="logo">Campus U</h1>
	<nav role="main navigation">
		<ul class="clearfix">
			<li><a href="#">Home</a></li>
			<li class="dropdown"><a href="#" class="dropdown-toggle"
									data-toggle="dropdown">Academics <b
					class="caret"></b>
			</a>
				<ul class="dropdown-menu">
					<li><a href="#">one</a></li>
					<li><a href="#">two</a></li>
					<li><a href="#">three</a></li>
				</ul>
			</li>
			<li><a href="#">Financial Aid</a></li>
			<li><a href="#">Housing</a></li>
			<li><a href="#">Career Services</a></li>
			<li><a href="#">External Links</a></li>
		</ul>
	</nav>
	<div class="breadcrumbContainer">
		<nav role="breadcrumb navigation">
			<ul class="headerBreadcrumb clearfix">
				<li class="headerBreadcrumbRoot"><span
						class="s4-breadcrumb-arrowcont"></span><a
						class="headerBreadcrumbRoot" href="/">DAUwebpart</a>
					<ul class="headerBreadcrumbRoot">
						<li class="headerBreadcrumbInner"><span
								class="s4-breadcrumb-arrowcont"></span><a
								class="headerBreadcrumbInner" href="/designDev">Layout
							Development</a>
							<ul class="headerBreadcrumbInner">
								<li class="headerBreadcrumbCurrent"><span
										class="s4-breadcrumb-arrowcont"></span><a
										class="headerBreadcrumbCurrent"
										href="/designDev/SitePages/grid.aspx">grid</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		<fieldset class="search">
			<label for="search">Search</label> <input type="text" placeholder="SEARCH"
													  id="search">
			<button type="submit">Search</button>
		</fieldset>
	</div>
</header>


<div class="container">
	<div class="row">
		<div class="span3 cmcWP">
			<p class="widthExample">25%</p>
		</div>
		<div class="span3 cmcWP">
			<input id="datetimepicker" style="width:200px;"/>
		</div>
		<div class="span6 cmcWP">
			<div id="tabstrip">
				<ul>
					<li class="k-state-active">
						Paris
					</li>
					<li>
						New York
					</li>
					<li>
						London
					</li>
					<li>
						Moscow
					</li>
					<li>
						Sydney
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12 cmcWP ">
			<div id="sud"></div>
		</div>
	</div>
</div>

<!-- build:remove:dist -->
<div class="container">
	<div class="row">
		<div class="span12">
			<p><%= appName %> - Preview Mode</p>

			<div id="previewModeNotes"></div>
		</div>
	</div>
</div>
<script type="text/javascript">
	window.devmode = true;
</script>
<!-- /build -->

<!-- build:include bower_components/portal-core/dist/build/processhtml/dist-requirejs.html  -->
<script data-main="bower_components/portal-core/dist/scripts/common"
		src="bower_components/requirejs/require.js"></script>
<!-- /build -->

</body>
</html>